{% extends "base_template.html" %}

{% block conteudo %}
<div class="menu col-md-1">
        <div id="jquery-accordion-menu" class="jquery-accordion-menu ">
            <ul>
                <li class="active"><a href="#"><i class="fa fa-home"></i>CONFIGURE </a></li>
                <li><a href="#"><i class="fa fa-cog"></i>FABRIC 1 </a>
                    <ul class="submenu">
                            <li><a href="#">SPINE 1 </a>
                                <ul class="submenu">
                                    <li><a href="#">INFORMATION </a></li>
                                    <li><a href="#">STATUS </a></li>
                                    <li><a href="#">LOGS </a></li>
                                    <li><a href="#">FLOWS </a></li>
                                </ul>
                            </li>
                            <li><a href="#">LEAF 1 </a>
                                <ul class="submenu">
                                        <li><a href="#">INFORMATION </a></li>
                                        <li><a href="#">STATUS </a></li>
                                        <li><a href="#">LOGS </a></li>
                                        <li><a href="#">FLOWS </a></li>
                                </ul>
                            </li>
                            <li><a href="#">LEAF 3 </a>
                                <ul class="submenu">
                                        <li><a href="#">INFORMATION </a></li>
                                        <li><a href="#">STATUS </a></li>
                                        <li><a href="#">LOGS </a></li>
                                        <li><a href="#">FLOWS </a></li>
                                </ul>
                            </li>
                            <li><a href="#">LEAF 5 </a>
                                <ul class="submenu">
                                        <li><a href="#">INFORMATION </a></li>
                                        <li><a href="#">STATUS </a></li>
                                        <li><a href="#">LOGS </a></li>
                                        <li><a href="#">FLOWS </a></li>
                                </ul>
                            </li>
                            <li><a href="#">LEAF 7 </a>
                                <ul class="submenu">
                                        <li><a href="#">INFORMATION </a></li>
                                        <li><a href="#">STATUS </a></li>
                                        <li><a href="#">LOGS </a></li>
                                        <li><a href="#">FLOWS </a></li>
                                </ul>
                            </li>
                    </ul>
                </li>

                <li><a href="#"><i class="fa fa-cog"></i>FABRIC 2 </a>
                    <ul class="submenu">
                        <li><a href="#">SPINE 2 </a>
                            <ul class="submenu">
                                    <li><a href="#">INFORMATION </a></li>
                                    <li><a href="#">STATUS </a></li>
                                    <li><a href="#">LOGS </a></li>
                                    <li><a href="#">FLOWS </a></li>
                            </ul>
                        </li>
                        <li><a href="#">LEAF 2 </a>
                            <ul class="submenu">
                                    <li><a href="#">INFORMATION </a></li>
                                    <li><a href="#">STATUS </a></li>
                                    <li><a href="#">LOGS </a></li>
                                    <li><a href="#">FLOWS </a></li>
                            </ul>
                        </li>
                        <li><a href="#">LEAF 4 </a>
                            <ul class="submenu">
                                    <li><a href="#">INFORMATION </a></li>
                                    <li><a href="#">STATUS </a></li>
                                    <li><a href="#">LOGS </a></li>
                                    <li><a href="#">FLOWS </a></li>
                            </ul>
                        </li>
                        <li><a href="#">LEAF 6 </a>
                            <ul class="submenu">
                                    <li><a href="#">INFORMATION </a></li>
                                    <li><a href="#">STATUS </a></li>
                                    <li><a href="#">LOGS </a></li>
                                    <li><a href="#">FLOWS </a></li>
                            </ul>
                        </li>
                        <li><a href="#">LEAF 8 </a>
                            <ul class="submenu">
                                    <li><a href="#">INFORMATION </a></li>
                                    <li><a href="#">STATUS </a></li>
                                    <li><a href="#">LOGS </a></li>
                                    <li><a href="#">FLOWS </a></li>
                            </ul>
                        </li>
                    </ul>
                </li>
                
            </ul>
        </div>    
    </div> 
{% endblock conteudo %}